[project]
	description = A font that can render all language autonyms
[access "refs/*"]
	owner = group user/Santhosh Thottingal (santhoshtr)
[access "refs/for/refs/*"]
	read = group user/Santhosh Thottingal (santhoshtr)
	push = group user/Santhosh Thottingal (santhoshtr)
	label-Code-Review = -2..+2 group user/Santhosh Thottingal (santhoshtr)
	label-Verified = -1..+1 group user/Santhosh Thottingal (santhoshtr)
	rebase = group user/Santhosh Thottingal (santhoshtr)
	removeReviewer = group user/Santhosh Thottingal (santhoshtr)
	submit = group user/Santhosh Thottingal (santhoshtr)
[access "refs/heads/*"]
	read = group user/Santhosh Thottingal (santhoshtr)
	create = group user/Santhosh Thottingal (santhoshtr)
	push = +force group user/Santhosh Thottingal (santhoshtr)
	pushMerge = group user/Santhosh Thottingal (santhoshtr)
[access "refs/tags/*"]
	push = +force group user/Santhosh Thottingal (santhoshtr)
	pushTag = group user/Santhosh Thottingal (santhoshtr)
	pushSignedTag = group user/Santhosh Thottingal (santhoshtr)
